.profile__edit-button {
  position: relative;
  top: 15px;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  background-color: #000;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
