.header {
  padding-bottom: 37px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-top: 45px;
  margin-bottom: 40px;
}

@media screen and (max-width: 984px) {
  .header {
    padding-bottom: 31px;
    margin-top: 28px;
    margin-bottom: 40px;
    padding-left: 27px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding-bottom: 27px;
    margin-top: 28px;
    margin-bottom: 42px;
    padding-left: 27px;
  }
}
