.popup__close-ico {
  position: relative;
  bottom: 189px;
  left: 7px;
}

.popup__close-ico:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__close-ico {
    width: 20px;
    bottom: 359px;
    left: 132px;
  }
}
